h1 Experience

h2 Skills
ul
	li Fluent in Chinese Mandarin, Chinese Cantonese, and English
	li HTML, CSS, JS, Ruby on Rails, Git, MongoDB, jQuery, NodeJS, Angular, Coffeescript, Stylus, Express, NPM
	li Good with Adobe Illustrator, Photoshop, Google, Microsoft

h2 Achievements
ul
	li 2015 2 Times Commitment to Excellence Awards at IRS
	li 2013 Top 3 finalist of Angelhack Silicon Valley - SeeWhatISee
	li 2013 Winner of Startup Weekend Dallas - DataTrigger
	li 2012 Top 5 finalist of Angelhack San Francisco - Castscreen.io
	li Wells Fargo Top Box Award - Top Customer Service Rep
	li Wells Fargo Top 3 Sellers in the Region - 4th Quarter of 2009

h2 Work History
.ui.list.jobs
	.item.job
		.content
			h3.job-title Examination Technician
			h5.company Internal Revenue Service
			h5.date Jan 2014 - Present
			.description
				ul
					li Provide assistance on inquiries initiated by taxpayers.
					li Researching pertinent tax data through IDRS, accounting records, telephone contacts, IRS officials, and other agencies. 
					li Communicating analytical findings clearly to individuals at all levels within an organization.
					li Take corrective actions to close cases such as adjusting taxpayer's account, recompiling tax liability, and preparing manual refunds. 
					li Knowledge of state and federal wage and tax laws and overtime requirements.
	.item.job
		.content
			h3.job-title IT Project Manager
			h5.company Leaf Medium
			h5.date Jan 2011 - Jan 2014
			.description
				ul
					li Recorded day to day expenditure and process payouts for regular employees and contractors.
					li Provided direct assistance to end users on IT systems. 
					li Establishing principles, practices, and procedures to improve an organization.
					li Improved internal efficiency by proactively identifying opportunities. 
					li Utilized open source project management tools to manage multiple projects.
					li Ensured each project’s cost, time, and quality followed the original requirements of the clients. 
					li Worked alongside customers to resolve technical problems proactively and reached 98% client satisfaction.
					li Analyze financial information concerning the effectiveness of ongoing programs.
					li Collaborated with cross-functional teams on specific user-impacting issues and bugs. A diverse team with members from different departments can be shortened to say it is a “Cross-functional team”
	.item.job
		.content
			h3.job-title Cash Office Coordinator
			h5.company Bloomingdale's
			h5.date Aug 2010 - Mar 2011
			.description
				ul
					li Coordinated prompt submission and accuracy of transactions for customers by evaluating internal transactions and monitoring purchases. 
					li Monitor the validity, accuracy, and reliability of performance data using a variety of techniques.
					li Processed payroll through HRIS for over 500 employees. 
					li Provided training and technical guidance to other officers in all phases and acted as a reference for complex transactions. 
					li Ensured a high degree of rigor and quality in every single customer service experience.
					li Shared best practices with other teams and led a small cross-functional team of sales, management and fashion experts. 
					li Audited store finances and monitored employees’ register balance daily to conduct finance reports.
					li Assisted the HR manager with celebrity guest events.
	.item.job
		.content
			h3.job-title Wells Fargo Bank
			h5.company Customer Teller
			h5.date Aug 2009 - Aug 2010
			.description
				ul
					li Built relationships founded on good customer service with every client. 
					li Processed cash and check (foreign) transactions. 
					li Reviewed complex pay records and reports that  involved transfers between different pay systems
	.item.job
		.content
			h3.job-title Dept Manager Assistant
			h5.company Macy's
			h5.date Aug 2005 - Aug 2009
			.description
				ul
					li Prepared presentations for the department’s financial forecasts including budget planning.
					li Collaborated with managers to develop training programs that addressed products, skills, procedures, and quality assurance requirements for the department. 
					li Coordinated promotional programs for different departments. 
					li Providing analysis and advice that requires communication and presentation skills to a team and management.
					li Analyzing and evaluating information and recommending improvements or enhancements as part of a team member.
					li Directly trained sales representatives and fitting room specialists following training program guidelines; process improvement was gained while putting guidelines into practice. 

h2 Education
.ui.list.schools
	.item.school
		.content
			h3.school General Assembly
			h5.date Feb 2016 - May 2016
	.item.school
		.content
			h3.school MITx EDX.org Continual Education
			h5.date Dec 2014
			.description Certification in Introduction to Computer Sciences with Python
	.item.school
		.content
			h3.school Dominican University of California 
			h5.date Aug 2005  –  Aug 2009
			.description Bachelor in Business Administration with concentration in Accounting and Finance
