h1.logo Christy Leung
p I am a builder, scientist, and an artist of scalable, analytical, real-time technologies. I strive to efficiently build things that please the masses and last till the end of time. Sometimes I have to go outside the box and quickly learn new things.
.ui.button.teal(data-href='contactme') Lets Talk about the Future
