doctype html
html
	head
		title The Christy Leung Collection
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css')
	body
		video#video-bk(autoplay loop	poster='/videos/subway.jpg')
			source(src='/videos/subway.webm' type='video/webm')
			source(src='/videos/subway.mp4' type='video/mp4')
		#page-body
		script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.7.0/lodash.min.js')
		script(src='https://code.jquery.com/jquery-2.2.2.min.js' integrity='sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=' crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js')
		script(src='/public/build/bundle.js')
