h1 My Work

h2 Trabajo
img(src='/img/trabajocover.jpg')
img(src='/img/trabajo.png')

h2 Tix Tac O
img(src='/img/tixcover.jpg')
img(src='/img/TixTacO.png')

h2 Leaf Medium
img(src='/img/mywork/leaf.jpg')
img(src='/img/mywork/leaf1.jpg')
img(src='/img/mywork/leaf2.jpg')
img(src='/img/mywork/leaf3.jpg')
img(src='/img/mywork/leaf4.jpg')
img(src='/img/mywork/leaf5.jpg')

h2 Fanhood Games
img(src='/img/mywork/fanhood.jpg')
img(src='/img/mywork/fanhood1.jpg')
img(src='/img/mywork/fanhood2.jpg')

h2 HypeBunny
img(src='/img/mywork/hypebunny.jpg')

h2 TechTrend
img(src='/img/mywork/techtrend.jpg')

h2 Black Skies
img(src='/img/mywork/blackskies.jpg')

h2 Royal Profiles
img(src='/img/mywork/royal.jpg')
img(src='/img/mywork/royal1.jpg')

h2 Comedy Hair Show
img(src='/img/mywork/comedy.jpg')

h2 CryptoExchange Inc
img(src='/img/mywork/crypto.jpg')

h2 Seasons After
img(src='/img/mywork/seasonsafter.jpg')
