h1 Who I Am

img.christy(src='/img/christy1.jpg', alt='christy leung')

h2 How it all started...
p After I received my bachelor degree in Accounting and Finance, I've worked for banks and some CPA firms. But it was not satisfying my creative side, which is why I took some freelance jobs in Graphic Design since I always found Graphic Design to be pretty interesting and I've improve my design skill as I took on more complicated tasks. One day, I saw this posting for making a whole front end of the website and at that moment I thought maybe I should learn some coding, this could be fun.

h2 So the journey of becoming a programmer begin!
p I start signing up for all kinds of online interactive lessons, edx, online tutorials. And now, I'm currently attending a Web Development course in General Assembly, so far, I've learned a lot of extra new skills such as git, rails, angular, node.js etc.
